 * {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: rgb(59, 155, 132);
  font-style: oblique;
}

.row {
  width: 100%;
  /* border: 5px solid green */
}

p#content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  /* border: 2px solid red; */
}

p#title {
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 3px;
  right: 3px;
  width: 20%;
  background-color: rgb(59, 155, 132);
  border: 2px solid black;
  margin: 0px;
}

@media (min-width: 992px) {
  .col-lg-4{
    position: relative;
    background-color: rgb(135, 179, 126);
    float: left;
    width: 32%;
    border: 1px solid black;
    margin: 0.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    position: relative;
    background-color: rgb(135, 179, 126);
    float: left;
    width: 49%;
    border: 1px solid black;
    margin: 0.5%;
  }
  .col-lg-12{
    position: relative;
    background-color: rgb(135, 179, 126);
    float: left;
    width: 100%;
    border: 1px solid black;
  }
}

@media (max-width: 767px) {
  .col-sm-12{
    position: relative;
    float: left;
    background-color: rgb(135, 179, 126);
    width: 100%;
    border: 1px solid black;
    margin-bottom: 1%;
  }
}